.imageFundo1 {
  background-image: url(../../Assets/imageFundo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 951px;
}
.imageFundo2 {
  background-image: url(../../Assets/imageFundo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 586PX;
}
.imageFundo3 {
  background-image: url(../../Assets/imageFundo3.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 619PX;
}
.p30 {
  margin-top: 243px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.p31 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #F05E9C;
}
.p32 {
  margin-top: 72px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.p33 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #F05E9C;
}
.p34 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 0px;
  text-align: center;
  color: #FFFFFF;
}
.topInsight3 {
  width: 100%;
  height: 48px;
  background: #701395;
}
.btnTextStart {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #F7F5F5;
  margin-top: 145px;
  background-color: #701395;
  border-radius: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.btnTextStarted {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 28px; 
  line-height: 38px;
  color: #F7F5F5;
  margin-top: 145px;
  background: #B51BB1;
  border-radius: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
}
.btnTextMotivation {
  width: 300px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #F7F5F5;
  margin-top: 145px;
  background-color: #701395;
  border-radius: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  margin: auto;
}
.div233 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 23px solid #EEEEEE;
  min-width: 180px;
  min-height: 180px;
  background: #191970;
  border-radius: 190px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 883px;
}
.div234 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 23px solid #EEEEEE;
  min-width: 180px;
  min-height: 180px;
  background: #191970;
  border-radius: 190px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1471px;
}
.boxSubTituloQtd {
  margin-top: 170px;
  justify-self: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #0B066D;
}
.boxSubTituloQtd2 {
  margin-top: 170px;
  justify-self: center;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #FFFFFF;
}
.p35 {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 300;
  font-size: 21px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}
.divConteudo {
  display: flex;
  grid-gap: 10px;
  width: 392px;
  height: 167px;
  background: #701395;
  border-radius: 16px;
}
.divContainer5 {
  margin-bottom: 193px;
  display: flex;
  grid-gap: 32px;
  text-align: center;
  justify-content: center;
  justify-items: center;
}
.divContainer6 {
  width: 392px;
  height: 167px;
  background: #701395;
  border-radius: 16px;
}
.divContainer6:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.divContainer7 {
  width: 392px;
  height: 167px;
  background: #701395;
  border-radius: 16px;
}
.divContainer7:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.divContainer8 {
  width: 392px;
  height: 167px;
  background: #701395;
  border-radius: 16px;
}
.divContainer8:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.divBlue {
  width: 100%;
  height: 470px;
  background: #191970;
}

.divContainer9 {
  width: 184px;
  height: 152px;
  background: #701395;
  border-radius: 16px;
}
.divContainer10 {
  width: 184px;
  height: 152px;
  background: #701395;
  border-radius: 16px;
}
.divContainer11 {
  width: 184px;
  height: 152px;
  background: #701395;
  border-radius: 16px;
}
.divContainer9:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.divContainer10:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.divContainer11:hover {
  transform: scale(1.1);
  transition: transform 1s;
  background-color: #B51BB1;
}
.p39 {
  padding-top: 100px;
  margin:auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #B51BB1;
  width: 751px;
}
.p40 {
  padding-top: 20px;
  margin: auto;
  font-weight: 1;
  font-size: 28px;
  text-align: center;
  color: #191970;
  width: 832px;
  padding-bottom: 113px;
}













.div1 {
  margin-top: 10vh;
  width: 100%;
  min-height: 30vh;
  display: grid;
  justify-content: center;
  grid-auto-rows: min-content;
}
.boxTitulo {
  width: 70%;
  min-height: 16vh;
  justify-self: center;
}
.boxSubTitulo {
  max-height: 16vh;
  justify-self: center;
}
.p17 {
  font-family: Open Sans;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #191970;
}

.p18 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #FF4500;
}
.main {
  width: 100%;
  height: 47vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section {
  max-width: 828px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 19px;
  margin-bottom: 33vh;
}
.p19 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #232A30;
}


.p20 {
  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 10px;
  text-align: center;
  color: #F7F5F5;
}
.p21 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #191970;
}
.boxSubTituloMiddle {
  margin-top: 22vh;
  max-height: 16vh;
  justify-self: center;
}
.boxSubTituloMiddle2 {
  margin-top: 8vh;
  max-height: 16vh;
  justify-self: center;
}
.p22 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #FF4500;
  margin-left: auto;
  margin-right: auto;
}
.container1 {
  height: 394px;
  flex-direction: row;
  display: flex;
  grid-gap: 40px;
  justify-content: center;
}


.setaClick:hover {
  transform: scale(1.1);
  transition: transform 1s;
}
.divContainer3 {
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: 1s;
  transition: transform 1s;
  width: 288px;
  height: 197px;
  background-color: #F7F5F5;
  border-radius: 0px 0px 16px 16px
}
.none {
  display: none;
}
.p23 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #6C77B7;
}
.p24 {
  text-align: left;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #F7F5F5;
  padding-left: 25px;
  padding-right: 25px;
}
.p25 {
  text-align: left;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  color: #191970;
  margin-left: 20px;
  margin-right: 30px;
}
.circulo {
  border-radius: 30px;
  width: 37px;
  height: 35px;
  background-color: #F7F5F5;
  margin-left: auto;
  margin-right: auto;
}

.divContainer21 {
  width: 597px;
  height: 197px;
  background-color: #6C77B7;
}
.divContainer31 {
  width: 597px;
  height: 197px;
  background-color: #F7F5F5;
  border-radius: 0px 0px 16px 16px
}
.backgroundCor {
  background-color: #f7f7f5;
}
.quebraCabeca {
  background-image: url(../../Assets/quebracabeca.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.peca {
  position: relative;
  left: 28%;
  bottom: 38px;
  transform: translateX(-57%);
  width: '151px';
  height: '166px';
}
.p26 {
  margin: auto;
  width: 600px;
  height: 106px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #191970;
  margin-bottom: 30px;
}
.p27 {
  margin: auto;
  width: 600px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.span27 {
  margin: auto;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  color: #7FFFD4;
  margin-bottom: 30px;
}
.p28 {
  margin: auto;
  width: 568px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  margin-bottom: 30px;
  margin-top: 30px;
  padding-top: 30px;
}
.p29 {
  margin: auto;
    width: 568px;
    font-family: Open Sans;
  
    font-weight: 400px;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 30px;
    font-size: medium;
}
.fundoClick {
  margin: auto;
  width: 648px;
  height: 293px;
  background-color: #232A30;
  border-radius: 30px;
  margin-bottom: 86px;
}
.fundoClick2 {
  margin: auto;
  width: 648px;
  height: 293px;
  background-color: #232A30;
  border-radius: 30px;
  margin-bottom: 86px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.divBtn {
  margin: auto;
  width: 363px;
  text-align: center;
  background-color: #FF4500;
  border-radius: 40px;
  cursor: pointer;
  margin-bottom: 158px;
}
.btnText {
  padding-top: 5px;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #F7F5F5;
  padding-bottom: 5px;
}
.iconRight {
  position: absolute;
  top: 3166px;
  left: 832px;
  color: #ffffff;
  width: 30px;
  height: 30px;
}
.p38 {
  text-align: center;
  font-family: Open Sans;
  font-style: italic;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #F7F5F5;
  padding-left: 25px;
  padding-right: 25px;
}

.p35 {
  margin: auto;
  width: 870px;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  color: #232A30;
}



