.flex-container {
    display: grid;
}
.iconTopMenu {
    margin-right: 10px;
    color: rgb(255, 255, 255);
    margin-top: 8px;
    width: 22px;
    height: 29px;
    margin-left: 37px;
}
.topMenu {
    width: 100vw;
    height: 100px;
    background-color: #323334;
}
.containerMenu {
    display: flex;
    width: 100vw;
    background-color: #2144C0;
}
.botMenu {
    width: 100vw;
    height: 10vh;
    background-color: #323334;
}
.leftMenu {
    display: grid;
    width: 20vw;
    background-color: #0062dc;
    justify-content: center;
    align-items: center;
}
.leftMenuCenter {
    width: 220px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #ffffff;
}
.fontLeft {
    margin-right: 19px;
    font-weight: 600;
    font-size: 57px;
    color: #167ffd;
}
.fontRight {
    color: #7db8ff;
    font-weight: 600;
    font-size: 17px;
}
.leftMenuTitle {
    font-size: 20px;
}
.borderLeft {
    position: absolute;
    left: 0;
    width: 6px;
    background-color: #ffffff;
}
.rightMenu {
    background-color: #2157d2;
}
.rightTopMenu {
    padding-left: 40px;
    display: flex;
    width: 300px;
    height: 41px;
}
.rightTopMenuM {
    padding-left: 40px;
    display: flex;
    height: 41px;
}
.rightBotMenu {
    padding-left: 40px;
    width: 148px;
    height: 105px;
}
.rightMiddleMenu {
    display: flex;
    width: 80vw;
}
.iconMenu {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    color: #ffffff;
}
.iconMenu2 {
    margin-top: 35px;
    margin-left: 10px;
    width: 25px;
    height: 25px;
}
.textMenu {
    width: 164px;
    margin-top: 5px;
    line-height: 16px;
    height: 29px;
    color: #ffffff;
}
.boxIconMenu {
    display: 'grid';
    background-color: 'yellow';
    height: '10px';
}
.hidden {
    display: none;
}
.background {
    background-color: #034699;
}
.mapa {
    font-weight: 600;
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px;
    line-height: 10px
}
.exp {
    color: #ffffff;
    margin-left: 20px;
    font-size: 18px;
    line-height: 10px
}
.menuMenu {
    position: fixed;
    bottom: 0px;
 
    width: 100%;
    background-color: #14181B;
    display: flex;
  }
  .menuInsight {
    height: 60px;
    width: 100%;
    background-color: #14181B;
    display: flex;
  }
  .fontBotNavigate {
    font-weight: 600;
    color: #ffffff;
    margin-left: '20px';
    font-size: 12px;
    margin-top: 14px;
  }
@media only screen and (min-width: 1251px) and (max-width: 1700px) {
    .mobile {
        display: flex;
    }
    .view {
        display: none;
    }
    .telefone1 {
        display: none;
    }
}
@media only screen and (min-width: 1701px) {
    .mobile {
        display: none;
    }
    .view {
        display: flex;
    }
    .telefone1 {
        display: none;
    }
}  
@media only screen and (max-width: 1250px) {
	.containerMenu {
        display: table;
        width: 100vw;
        background-color: #2144C0;
    }
    .mobile {
        display: none;
    }
    .telefone {
        display: none;
    }
    .leftMenu {
        height: 88px;
        display: flex;
        width: 100%;
        background-color: #0062dc;
        justify-content: center;
        align-items: center;
    }
    .rightBotMenu {
        padding-left: 40px;
        width: 148px;
        height: 163px;
    }
    .menuInsight  {
        height: 92px;
    }
    .mapa {
        font-weight: 600;
        color: #ffffff;
        margin-left: 20px;
        font-size: 19px;
        line-height: 19px;
        width: 148px;
    }
    .exp {
        color: #ffffff;
        margin-left: 20px;
        font-size: 16px;
        line-height: 22px;
        width: 100px;
    }
}