.div1 {
  margin-top: 10vh;
  width: 100%;
  min-height: 30vh;
  display: grid;
  justify-content: center;
  grid-auto-rows: min-content;
}
.boxTitulo {
  width: 70%;
  min-height: 16vh;
  justify-self: center;
}
.boxSubTitulo {
  max-height: 16vh;
  justify-self: center;
}
.p17 {
  font-family: Open Sans;
  font-size: 48px;
  font-style: italic;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #191970;
}

.p18 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1em;
  text-transform: uppercase;
  color: #FF4500;
}
.main {
  width: 100%;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.section {
  max-width: 828px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 19px;
  margin-bottom: 10vh;
}
.p19 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  color: #232A30;
}
.div2 {
  width: 674px;
  min-height: 30vh;
  justify-self: center;
  align-items: center;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
  background: #23B5BC;
  box-shadow: -15px 15px 30px rgb(0 0 0 / 25%);
  border-radius: 8px;
}
.p20 {
  font-family: Open Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 48px;
  line-height: 10px;
  text-align: center;
  color: #F7F5F5;
}
.p21 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #191970;
}
.boxSubTituloMiddle {
  margin-top: 10vh;
  max-height: 16vh;
  justify-self: center;
}
.p22 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 35px;
  text-align: center;
  color: #FF4500;
}


